{{ ansible_managed | comment }}
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

# Host specific settings -----------------------------------------------------
{% for host in ssh_host_config.keys() %}
Host {{ host }}
  {% for option, value in ssh_host_config[host].items() %}
  {{ option }} {{ value }}
  {% endfor %}
{% endfor %}

# General host settings ------------------------------------------------------
Host *
AddressFamily {{ ssh_address_family }}
BatchMode no
{% if ssh_keys is defined and ssh_version is version('7.9', '>=', True)  %}
CASignatureAlgorithms {{ ssh_keys }}
{% endif %}
ChallengeResponseAuthentication {{ ssh_challenge_response_authentication }}
CheckHostIP yes
{% if ssh_ciphers is defined %}
Ciphers {{ ssh_ciphers }}
{% endif %}
ConnectionAttempts 1
ConnectTimeout 0
EnableSSHKeysign {{ ssh_enable_ssh_keysign }}
EscapeChar ~
ForwardAgent no
ForwardX11 no
{% if ssh_version is version('5.9', '>=', True) %}
GlobalKnownHostsFile {{ ssh_global_known_hosts_files | join(' ') }}
UserKnownHostsFile {{ ssh_user_known_hosts_files | join(' ') }}
{% else %}
GlobalKnownHostsFile {{ ssh_global_known_hosts_files[0] }}
{% if ssh_global_known_hosts_files[1] is defined %}
GlobalKnownHostsFile2 {{ ssh_global_known_hosts_files[1] }}
{% endif %}
UserKnownHostsFile {{ ssh_user_known_hosts_files[0] }}
{% if ssh_user_known_hosts_files[1] is defined %}
UserKnownHostsFile2 {{ ssh_user_known_hosts_files[1] }}
{% endif %}
{% endif %}
GSSAPIAuthentication {{ ssh_gssapi_authentication }}
GSSAPIDelegateCredentials no
{% if ansible_distribution != 'Archlinux' %}
GSSAPIKeyExchange no
GSSAPITrustDns no
{% endif %}
HashKnownHosts yes
HostbasedAuthentication {{ ssh_hostbased_authentication }}
{% if ssh_keys is defined and ssh_version is version('6.8', '>=', True) %}
HostbasedKeyTypes {{ ssh_keys }}
{% endif %}
{% if ssh_keys is defined %}
HostKeyAlgorithms {{ ssh_keys }}
{% endif %}
{% for idfile in ssh_identity_files %}
IdentityFile {{ idfile }}
{% endfor %}
{% if ssh_kexs is defined %}
KexAlgorithms {{ ssh_kexs }}
{% endif %}
{% if ssh_macs is defined %}
MACs {{ ssh_macs }}
{% endif -%}
PasswordAuthentication {{ ssh_password_authentication }}
PermitLocalCommand no
Port {{ ssh_port }}
PreferredAuthentications publickey,keyboard-interactive,password
Protocol 2
PubkeyAuthentication {{ ssh_pubkey_authentication }}
{% if ssh_version is version('7.5', '>=', True) %}
RekeyLimit {{ ssh_rekey_limit_data }} {{ ssh_rekey_limit_time }}
{% else %}
RekeyLimit {{ ssh_rekey_limit_data }}
{% endif %}
#RevokedHostKeys
StrictHostKeyChecking {{ ssh_strict_host_key_checking }}
Tunnel no
{% if ssh_version is version('5.4', '>=', True)
  and ssh_version is version('7.1', '<=', True) %}
UseRoaming no
{% endif %}
VerifyHostKeyDNS yes
VisualHostKey yes