{{ ansible_managed | comment }}
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

# Host specific settings -----------------------------------------------------

# General host settings ------------------------------------------------------
Host *
AddressFamily {{ ssh_address_family }}
BatchMode no
CheckHostIP yes
{% if ssh_ciphers is defined %}
Ciphers {{ ssh_ciphers }}
{% endif %}
ConnectionAttempts 1
ConnectTimeout 0
EnableSSHKeysign no
EscapeChar ~
ForwardAgent no
ForwardX11 no
GSSAPIAuthentication no
GSSAPIDelegateCredentials no
{% if ansible_distribution != 'Archlinux' %}
GSSAPIKeyExchange no
GSSAPITrustDns no
{% endif %}
HashKnownHosts yes
HostbasedAuthentication no
{% if ssh_keys is defined %}
HostKeyAlgorithms {{ ssh_keys }}
{% endif %}
{% for idfile in ssh_identity_files %}
IdentityFile {{ idfile }}
{% endfor %}
{% if ssh_kexs is defined %}
KexAlgorithms {{ ssh_kexs }}
{% endif %}
{% if ssh_macs is defined %}
MACs {{ ssh_macs }}
{% endif -%}
PasswordAuthentication yes
PermitLocalCommand no
Port {{ ssh_port }}
Protocol 2
# RekeyLimit
StrictHostKeyChecking ask
Tunnel no
{% if ssh_version is version('5.4', '>=', True)
  and ssh_version is version('7.1', '<=', True) %}
UseRoaming no
{% endif %}
VerifyHostKeyDNS no
VisualHostKey yes