{{ ansible_managed | comment }}
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# Connection and system settings ---------------------------------------------
Protocol 2
Port {{ sshd_port }}
AddressFamily {{ sshd_address_family }}

{% if (sshd_listen_addr_v4 | length) > 0 %}
# IPv4 ListenAdresses
{% for address_v4 in sshd_listen_addr_v4 %}
ListenAddress {{ address_v4 }}
{% endfor %}

{% endif %}
{% if (sshd_listen_addr_v6 | length) > 0 %}
# IPv6 ListenAdresses
{% for address_v6 in sshd_listen_addr_v6 %}}
ListenAddress {{ address_v6 }}
{% endfor %}

{% endif %}
# Ciphers and Keying ---------------------------------------------------------
{% if ssh_ciphers is defined %}
Ciphers {{ ssh_ciphers }}
{% endif %}
{% if ssh_kexs is defined %}
KexAlgorithms {{ ssh_kexs }}
{% endif %}
{% if ssh_macs is defined %}
MACs {{ ssh_macs }}
{% endif %}

# Logging --------------------------------------------------------------------
SyslogFacility AUTH
LogLevel INFO

# Authentication Methods -----------------------------------------------------
# AuthenticationMethods gssapi-with-mic, hostbased, keyboard-interactive, password, publickey

LoginGraceTime {{ sshd_login_grace_time }}
PermitRootLogin {{ sshd_permit_root_login }}
StrictModes yes
MaxAuthTries {{ sshd_max_auth_tries }}
MaxSessions {{ sshd_max_sessions }}

# Key baesd Authentication ---------------------------------------------------

PubkeyAuthentication {{ sshd_pubkey_auth }}

{% if ssh_version is version('5.9', '>=', True) %}
# Expect .ssh/authorized_keys2 to be disregarded by default in future.
AuthorizedKeysFile {{ sshd_authorized_keys_files | join(' ') }}
{% else %}
AuthorizedKeysFile {{ sshd_authorized_keys_files[0] }}
{% if sshd_authorized_keys_files[1] is defined %}
AuthorizedKeysFile2 {{ sshd_authorized_keys_files[1] }}
{% endif %}
{% endif %}

# Host based Authentication --------------------------------------------------
# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication {{ sshd_hostbased_auth }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
IgnoreUserKnownHosts {{ sshd_ignore_user_known_hosts }}
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ sshd_ignore_rhosts }}
HostbasedUsesNameFromPacketOnly {{ sshd_hostbased_uses_name_from_packet_only }}
{% if (sshd_host_keys | length) > 0 %}
{% if ssh_version is version('7.0', '>=', True) %}
HostbasedAcceptedKeyTypes {{ ssh_keys | join('') }}
HostKeyAlgorithms {{ ssh_keys | join('') }}
{% endif %}
# SSH Host Keys
{% for hostkey in sshd_host_keys %}
HostKey {{ hostkey.path }}
{% endfor %}
{% endif %}

# Password Authentication ----------------------------------------------------
# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ sshd_password_auth }}
# This should never be enabled
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ sshd_challenge_auth }}

# Kerberos Authentication ----------------------------------------------------
AuthorizedPrincipalsFile none
KerberosAuthentication {{ sshd_kerberos_auth }}
{% if ansible_distribution != 'Archlinux' and ansible_os_family != 'Debian' and ssh_version is version('7.0', '>=', True) %}
KerberosGetAFSToken {{ sshd_kerberos_get_afs_token }}
{% endif %}
KerberosOrLocalPasswd {{ sshd_kerberos_or_local }}
KerberosTicketCleanup {{ sshd_kerberos_ticket_cleanup }}
{% if ansible_os_family == 'RedHat' %}
KerberosUseKuserok {{ sshd_kerberos_use_kuserok }}
{% endif %}

# GSSAPI Authentication ------------------------------------------------------
GSSAPIAuthentication {{ sshd_gssapi_auth }}
GSSAPICleanupCredentials {{ sshd_gssapi_cleanup_credentials }}
GSSAPIStrictAcceptorCheck {{ sshd_gssapi_strict_accept_or_check }}
{% if ansible_distribution != 'Archlinux' %}
GSSAPIKeyExchange {{ sshd_gssapi_key_exchange }}
GSSAPIStoreCredentialsOnRekey {{ sshd_gssapi_store_credentials_on_rekey }}
{% endif %}

# PAM Authentication ---------------------------------------------------------
# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ sshd_use_pam }}

# Misc Settings --------------------------------------------------------------
AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
X11DisplayOffset 10
X11UseLocalhost yes
{% if ssh_version is version('6.5', '>=', True) %}
PermitTTY yes
{% endif %}
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
PermitUserEnvironment no
Compression yes
ClientAliveInterval 0
ClientAliveCountMax 3
UseDNS {{ sshd_use_dns }}
# PidFile /var/run/sshd.pid
MaxStartups 10:30:60
PermitTunnel no
ChrootDirectory none
{% if ssh_version is version('6.0', '>=', True) %}
VersionAddendum none
{% endif %}

# default banner path
Banner none

# Allow client to pass locale environment variables
# PermitUserEnvironment must be yes to support this
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
{% if  (sshd_deny_users   | length) > 0
    or (sshd_allow_users  | length) > 0
    or (sshd_deny_groups  | length) > 0
    or (sshd_allow_groups | length) > 0 %}

# Allow/Deny Directives ------------------------------------------------------
# The allow/deny directives	are processed in the following
# order: DenyUsers, AllowUsers, DenyGroups, and finally AllowGroups
{% endif %}
{% if (sshd_deny_users | length) > 0 %}
DenyUsers {{ sshd_deny_users | join(' ') }}
{% endif %}
{% if (sshd_allow_users | length) > 0 %}
AllowUsers {{ sshd_allow_users | join(' ') }}
{% endif %}
{% if (sshd_deny_groups | length) > 0 %}
DenyGroups {{ sshd_deny_groups | join(' ') }}
{% endif %}
{% if (sshd_allow_groups | length) > 0 %}
AllowGroups {{ sshd_allow_groups | join(' ') }}
{% endif %}
{% if (sshd_per_group_settings | length) > 0 %}

# Per Group Settings ---------------------------------------------------------
{% for group in sshd_per_group_settings %}
Match User {{ group.key }}
    {% for group_setting in group.value %}
    {{ group_setting.key }} {{ group_setting.value }}
    {% endfor %}
{% endfor %}

{% endif %}
{% if (sshd_per_user_settings | length) > 0 %}

# Per User Settings ----------------------------------------------------------
{% for user in sshd_per_user_settings %}
Match User {{ user.key }}
    {% for user_setting in user.value %}
    {{ user_setting.key }} {{ user_setting.value }}
    {% endfor %}
{% endfor %}
{% endif %}